.shedule {
  &__buttons {
    margin-bottom: 15px;

    .ant-btn {
      margin-right: 5px;
    }
  }

  .ant-card-meta-description {
    margin-bottom: 5px;
  }

  .ant-card {
    margin-bottom: 15px;
  }
}