.header {
  background-color: #363C49;
  display: flex;

  .ant-menu-horizontal {
    flex-direction: row-reverse;
    border-bottom: none;
  }

  .ant-menu-item:hover {
    background-color: #252C37;
    ::after {
      border-bottom: 2px solid #fff;
    }
  }

  &__logo {
    background-image: url(logo.png);
    width: 45px;
    height: 40px;
    background-size: cover;
    align-self: center;
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    margin-left: 15px;
    color: #fff;
  }

  &__nav-menu {
    width: 100%;
  }
}

.ant-layout-content {
  min-height: calc(100vh - 63px);
}